In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/quickr-car/quikr_car.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
car=pd.read_csv('/kaggle/input/quickr-car/quikr_car.csv')

In [4]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.shape

(892, 6)

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# *Issues that we have to fix*

In [7]:
# year has many non integer value
# we have to convert obj to int
# price has ask for price and object to int remove ,
#kms_driven obj to int
# kms has nan values
# fuel type has nan value
# keep first three words of name because it has integer values also

# *Cleaning*

In [8]:
backup=car.copy() # so that our data set has a copy of original

In [9]:
car['year'].str.isnumeric() # here we see true for numeric value

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [10]:
car[car['year'].str.isnumeric()] # here we only see those cars which has numeric value

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [11]:
car=car[car['year'].str.isnumeric()]

In [12]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    object
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [13]:
car['year'].astype(int) #convert all object into int

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int64

In [14]:
car['year']=car['year'].astype(int)

In [15]:
car[car['Price']!="Ask For Price"] # remove ask for price row from data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [16]:
car=car[car['Price']!="Ask For Price"]

In [17]:
car['Price'].str.replace(',','').astype(int) # replace , with nothing just join them and onyl int

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int64

In [18]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [19]:
car['kms_driven'].str.split().str.get(0).str.replace(',','') # split into a list than take 0 index and remove ,

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [20]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [21]:
car=car[car['kms_driven'].str.isnumeric()] # we remove term like petrol diesel to keep only numeric value

In [22]:
car.info() # but still it has some object so we convert it into int

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.7+ KB

In [23]:
car['kms_driven']=car['kms_driven'].astype(int)

In [24]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

In [25]:
car[car['fuel_type'].isna()] # we have to remove this row

               name company  year   Price  kms_driven fuel_type
132  Toyota Corolla  Toyota  2009  275000       26000       NaN

In [26]:
 car=car[~car['fuel_type'].isna()]# ~ used to remove the row

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [28]:
car['name'].str.split().str.slice(0,3) # here we split into list and take only first three index by slicing

0         [Hyundai, Santro, Xing]
1         [Mahindra, Jeep, CL550]
3           [Hyundai, Grand, i10]
4      [Ford, EcoSport, Titanium]
6                    [Ford, Figo]
                  ...
883        [Maruti, Suzuki, Ritz]
885            [Tata, Indica, V2]
886      [Toyota, Corolla, Altis]
888              [Tata, Zest, XM]
889        [Mahindra, Quanto, C8]
Name: name, Length: 816, dtype: object

In [29]:
car['name']=car['name'].str.split().str.slice(0,3).str.join('')

In [30]:
car # we have to reset index

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
3         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
4    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
6                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
883      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
885          TataIndicaV2      Tata  2009  110000       30000    Diesel
886    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
888            TataZestXM      Tata  2018  260000       27000    Diesel
889      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [31]:
car.reset_index(drop=True)

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
2         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
3    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
4                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
811      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
812          TataIndicaV2      Tata  2009  110000       30000    Diesel
813    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
814            TataZestXM      Tata  2018  260000       27000    Diesel
815      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [32]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [33]:
car.describe() # here we can see 75% cars are under 5 lakh so there is an outlier

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [34]:
car[car['Price']>6e6]  # here only one car is more tthan 6 lakh so it is outlier

                 name   company  year    Price  kms_driven fuel_type
562  MahindraXUV500W6  Mahindra  2014  8500003       45000    Diesel

In [35]:
car[car['Price']<6e6]

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
3         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
4    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
6                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
883      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
885          TataIndicaV2      Tata  2009  110000       30000    Diesel
886    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
888            TataZestXM      Tata  2018  260000       27000    Diesel
889      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [36]:
 car=car[car['Price']<6e6].reset_index(drop=True)

In [37]:
car

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
2         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
3    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
4                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
810      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
811          TataIndicaV2      Tata  2009  110000       30000    Diesel
812    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
813            TataZestXM      Tata  2018  260000       27000    Diesel
814      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [38]:
car.to_csv('Cleaned Car.csv') #saved a cleaned data

# *MODEL*

In [39]:
X=car.drop(columns='Price') # independent feature
y=car['Price']

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2)

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [42]:
ohe=OneHotEncoder(handle_unknown='ignore')
ohe.fit(X[['name','company','fuel_type']])# it makes sigle array of name ,company and fuel_type unique

OneHotEncoder(handle_unknown='ignore')

In [43]:
ohe.categories_

[array(['AudiA3Cabriolet', 'AudiA41.8', 'AudiA42.0', 'AudiA62.0', 'AudiA8',
        'AudiQ32.0', 'AudiQ52.0', 'AudiQ7', 'BMW3Series', 'BMW5Series',
        'BMW7Series', 'BMWX1', 'BMWX1sDrive20d', 'BMWX1xDrive20d',
        'ChevroletBeat', 'ChevroletBeatDiesel', 'ChevroletBeatLS',
        'ChevroletBeatLT', 'ChevroletBeatPS', 'ChevroletCruzeLTZ',
        'ChevroletEnjoy', 'ChevroletEnjoy1.4', 'ChevroletSail1.2',
        'ChevroletSailUVA', 'ChevroletSpark', 'ChevroletSpark1.0',
        'ChevroletSparkLS', 'ChevroletSparkLT', 'ChevroletTaveraLS',
        'ChevroletTaveraNeo', 'DatsunGOT', 'DatsunGoPlus', 'DatsunRediGO',
        'FiatLineaEmotion', 'FiatPetraELX', 'FiatPuntoEmotion',
        'ForceMotorsForce', 'ForceMotorsOne', 'FordEcoSport',
        'FordEcoSportAmbiente', 'FordEcoSportTitanium',
        'FordEcoSportTrend', 'FordEndeavor4x4', 'FordFiesta',
        'FordFiestaSXi', 'FordFigo', 'FordFigoDiesel', 'FordFigoDuratorq',
        'FordFigoPetrol', 'FordFusion1.4', 'FordIkon1.3', 'FordIkon1.6',
        'HindustanMotorsAmbassador', 'HondaAccord', 'HondaAmaze',
        'HondaAmaze1.2', 'HondaAmaze1.5', 'HondaBrio', 'HondaBrioV',
        'HondaBrioVX', 'HondaCity', 'HondaCity1.5', 'HondaCitySV',
        'HondaCityVX', 'HondaCityZX', 'HondaJazzS', 'HondaJazzVX',
        'HondaMobilio', 'HondaMobilioS', 'HondaWRV', 'HyundaiAccent',
        'HyundaiAccentExecutive', 'HyundaiAccentGLE', 'HyundaiAccentGLX',
        'HyundaiCreta', 'HyundaiCreta1.6', 'HyundaiElantra1.8',
        'HyundaiElantraSX', 'HyundaiElitei20', 'HyundaiEon', 'HyundaiEonD',
        'HyundaiEonEra', 'HyundaiEonMagna', 'HyundaiEonSportz',
        'HyundaiFluidicVerna', 'HyundaiGetz', 'HyundaiGetzGLE',
        'HyundaiGetzPrime', 'HyundaiGrandi10', 'HyundaiSantro',
        'HyundaiSantroAE', 'HyundaiSantroXing', 'HyundaiSonataTransform',
        'HyundaiVerna', 'HyundaiVerna1.4', 'HyundaiVerna1.6',
        'HyundaiVernaFluidic', 'HyundaiVernaTransform', 'HyundaiVernaVGT',
        'HyundaiXcentBase', 'HyundaiXcentSX', 'Hyundaii10',
        'Hyundaii10Era', 'Hyundaii10Magna', 'Hyundaii10Sportz',
        'Hyundaii20', 'Hyundaii20Active', 'Hyundaii20Asta',
        'Hyundaii20Magna', 'Hyundaii20Select', 'Hyundaii20Sportz',
        'JaguarXEXE', 'JaguarXF2.2', 'JeepWranglerUnlimited',
        'LandRoverFreelander', 'MahindraBoleroDI', 'MahindraBoleroPower',
        'MahindraBoleroSLE', 'MahindraJeepCL550', 'MahindraJeepMM',
        'MahindraKUV100', 'MahindraKUV100K8', 'MahindraLogan',
        'MahindraLoganDiesel', 'MahindraQuantoC4', 'MahindraQuantoC8',
        'MahindraScorpio', 'MahindraScorpio2.6', 'MahindraScorpioLX',
        'MahindraScorpioS10', 'MahindraScorpioS4', 'MahindraScorpioSLE',
        'MahindraScorpioSLX', 'MahindraScorpioVLX', 'MahindraScorpioVlx',
        'MahindraScorpioW', 'MahindraTUV300T4', 'MahindraTUV300T8',
        'MahindraTharCRDe', 'MahindraXUV500', 'MahindraXUV500W10',
        'MahindraXUV500W6', 'MahindraXUV500W8', 'MahindraXyloD2',
        'MahindraXyloE4', 'MahindraXyloE8', 'MarutiSuzuki800',
        'MarutiSuzukiA', 'MarutiSuzukiAlto', 'MarutiSuzukiBaleno',
        'MarutiSuzukiCelerio', 'MarutiSuzukiCiaz', 'MarutiSuzukiDzire',
        'MarutiSuzukiEeco', 'MarutiSuzukiErtiga', 'MarutiSuzukiEsteem',
        'MarutiSuzukiEstilo', 'MarutiSuzukiMaruti', 'MarutiSuzukiOmni',
        'MarutiSuzukiRitz', 'MarutiSuzukiS', 'MarutiSuzukiSX4',
        'MarutiSuzukiStingray', 'MarutiSuzukiSwift', 'MarutiSuzukiVersa',
        'MarutiSuzukiVitara', 'MarutiSuzukiWagon', 'MarutiSuzukiZen',
        'MercedesBenzA', 'MercedesBenzB', 'MercedesBenzC',
        'MercedesBenzGLA', 'MiniCooperS', 'MitsubishiLancer1.8',
        'MitsubishiPajeroSport', 'NissanMicraXL', 'NissanMicraXV',
        'NissanSunny', 'NissanSunnyXL', 'NissanTerranoXL', 'NissanXTrail',
        'RenaultDuster', 'RenaultDuster110', 'RenaultDuster110PS',
        'RenaultDuster85', 'RenaultDuster85PS', 'RenaultDusterRxL',
        'RenaultKwid', 'RenaultKwid1.0', 'RenaultKwidRXT',
        'RenaultLodgy85', 'RenaultScalaRxL', 'SkodaFabia',
        'SkodaFabia1.2L', 'SkodaFabiaClassic', 'SkodaLaura',
        'SkodaOctaviaClassic', 'SkodaRapidElegance', 'SkodaSuperb1.8',
        'SkodaYetiAmbition', 'TataAriaPleasure', 'TataBoltXM',
        'TataIndica', 'TataIndicaV2', 'TataIndicaeV2', 'TataIndigoCS',
        'TataIndigoLS', 'TataIndigoLX', 'TataIndigoMarina',
        'TataIndigoeCS', 'TataManza', 'TataManzaAqua', 'TataManzaAura',
        'TataManzaELAN', 'TataNano', 'TataNanoCx', 'TataNanoGenX',
        'TataNanoLX', 'TataNanoLx', 'TataSumoGold', 'TataSumoGrande',
        'TataSumoVicta', 'TataTiagoRevotorq', 'TataTiagoRevotron',
        'TataTigorRevotron', 'TataVentureEX', 'TataVistaQuadrajet',
        'TataZestQuadrajet', 'TataZestXE', 'TataZestXM', 'ToyotaCorolla',
        'ToyotaCorollaAltis', 'ToyotaCorollaH2', 'ToyotaEtios',
        'ToyotaEtiosG', 'ToyotaEtiosGD', 'ToyotaEtiosLiva',
        'ToyotaFortuner', 'ToyotaFortuner3.0', 'ToyotaInnova2.0',
        'ToyotaInnova2.5', 'ToyotaQualis', 'VolkswagenJettaComfortline',
        'VolkswagenJettaHighline', 'VolkswagenPassatDiesel',
        'VolkswagenPolo', 'VolkswagenPoloComfortline',
        'VolkswagenPoloHighline', 'VolkswagenPoloHighline1.2L',
        'VolkswagenPoloTrendline', 'VolkswagenVentoComfortline',
        'VolkswagenVentoHighline', 'VolkswagenVentoKonekt',
        'VolvoS80Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [44]:
column_trans=make_column_transformer((OneHotEncoder(handle_unknown='ignore',categories=ohe.categories_),
                                      ['name','company','fuel_type']),
                                     remainder='passthrough')

In [45]:
lr=LinearRegression()

In [46]:
pipe=make_pipeline(column_trans,lr) # pipe line first apply column_tarns and then it goes into linear regression

In [47]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['AudiA3Cabriolet', 'AudiA41.8', 'AudiA42.0', 'AudiA62.0', 'AudiA8',
       'AudiQ32.0', 'AudiQ52.0', 'AudiQ7', 'BMW3Series', 'BMW5Series',
       'BMW7Series', 'BMWX1', 'BMWX1sDrive20d', 'BMWX1xDrive20d',
       'ChevroletBeat', 'ChevroletBeat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                handle_unknown='ignore'),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [48]:
y_pred= pipe.predict(X_test)

In [49]:
y_pred

array([ 489446.4852634 ,  106532.86390929,  396710.27129729,
       1516263.04162551,  355484.74881241,   65969.32903678,
        184257.66224153,  215769.11058258,  712774.83261321,
        130165.40225213, 1604171.95617139,  295793.1957289 ,
        296748.5849355 ,  256718.50311609,  468207.84675519,
        210585.43603943,  375076.73442799,  245824.5555277 ,
        269690.47351195, 1508135.15739988,  335351.1958776 ,
         22350.39513832,  295842.22172971,  260139.50296189,
        354415.91765848,  288398.61324496,  279552.6448    ,
        610115.17346334,  439860.95219772, 1176243.27606661,
         54842.71768273,  198455.80375549, 1222471.79972424,
        310521.73327948,  440264.84454238,  335149.42833682,
       1730161.25017015,  379805.95235652,  322822.76565994,
        125436.94735476,  151763.6898712 ,  513269.54787219,
        501853.08151713, -202942.42251413,  759632.36480289,
        314289.39273573,  675547.03348029,  371550.85829211,
        497573.38049265,  -44453.30050895,  543271.2627635 ,
        280901.66836631,  314282.09974068,  449733.1594808 ,
        501929.74525991,  343706.28225575,  277584.20647524,
        194481.69346245,  338935.15825994, 2103952.59643532,
        416979.80494138,  257375.98120196,  365497.21661942,
         69314.71692249,  949604.18153865,  573197.21845403,
        275940.51126056,  383505.66348692,  467398.88451242,
        506238.06965538, 2103952.59643532,  342186.52106006,
        506238.06965538,  207888.0415554 ,  335954.97263572,
        519447.95067524,  362937.15931113,   46497.1091918 ,
        422788.43814673,  284201.46151555,  181864.45725227,
        152824.11555599,  272653.12083121,  369793.8366095 ,
        392324.89492036,  -22953.96816463,  231031.29859563,
        219663.48884793,  577728.40995083,  543491.51584485,
        745702.83089975,  403520.63418464,  452996.32000569,
        604333.91040755,   73618.74092269,  296799.14414798,
        243523.38222716,  374295.08929708,  555005.07860456,
        152824.11555599,  446852.31134114,  222396.13764644,
        436004.17481314,  447408.80347548,  329025.61732998,
        608647.39907503,  419670.2628115 ,  422553.2601865 ,
        546140.63499764,  240053.66054365,  415315.62651198,
        610768.25554518,  621077.8580845 ,  160763.57804943,
        307011.13779094,  273183.86185533,  594697.66303185,
        -20911.12736905,  377443.15443392,  355753.18119249,
        299872.8408399 ,  267256.5373864 ,  187659.73298388,
        210850.33294793,  270225.21046891,  -55912.71039577,
        144996.366175  ,  126820.44301801,  494291.84331321,
        564301.05800342,  213271.8590305 ,  775207.04717863,
        770824.91670414,   -9475.6674043 ,  540654.18173889,
       -107624.95958994,  245239.12797698,  665884.81137608,
        508661.48088761,  260256.67057998,  696678.56524424,
        443796.04312103,  212457.16357004, 1492819.82467772,
        370868.37357523, 1511422.54782923,  474733.75725739,
        185890.92571437,  559756.75236   ,  403229.65231599,
        311885.03003193,   63397.41414966, 2103788.22691385,
        210155.9902695 ,  804143.91079286,  720044.21723706,
        244940.70419853, -154168.8423452 ,  216320.43213838,
       2103952.59643532, 1034037.12395354,  515728.11182163,
         69307.23557187])

In [50]:
r2_score(y_test,y_pred)

0.7667723635961157

# *Random_state value*

In [51]:
score=[]
for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2,random_state=i)
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred= pipe.predict(X_test)
    score.append(r2_score(y_test,y_pred))

In [52]:
np.argmax(score)

433

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=433)
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred= pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8457242566531133

In [54]:
import pickle

In [55]:
pickle.dump(pipe,open('LRMCarprice.pkl','wb'))

In [56]:
result=pipe.predict(pd.DataFrame(
    [['Maruti Suzuki Swift', 'Maruti', 2019, 100, 'Petrol']],
    columns=['name', 'company', 'year', 'kms_driven', 'fuel_type']
))

In [57]:
result

array([561679.77908596])